#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Timing is key.
#define HRM // comment this line to disable home-row mods
#define TAPPING_TERM 225
#include "timing.h"

// Mouse emulation
#include <dt-bindings/zmk/pointing.h>

// Layout-specific actions and symbols.
#define CMD RC // PC
// #define CMD RG // Mac
// This is a sane default for most US layouts:
// #include "actions.h"
// #include "symbols.h"
// Other layouts can adjust accordingly:
#include "actions_ergol.h"
#include "symbols_ergol.h"

/ {
    combos {
        compatible = "zmk,combos";
        require-prior-idle-ms = <100>;
        timeout-ms = <65>;

        ENTER_COMBO {
            bindings = <&kp ENTER>;
            key-positions = <19 20>;
        };
        
	ENTER_COMBO2 {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

    };

    macros {
        Patrick: Patrick_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(P) &kp A &kp T &kp R &kp I &kp C &kp K>;
            label = "PATRICK_MACRO";
        };

        Massot: Massot_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp LS(M) &kp A &kp S &kp S &kp O &kp T>;
            label = "MASSOT_MACRO";
        };

        gfo: gfo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_SHIFT &kp N9 &kp SPACE &kt LSHFT>;
            label = "GFO";
        };

        gff: gff {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_SHIFT &kp SPACE &kp N0 &kt LSHFT>;
            label = "GFF";
        };

        goe: goe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON &kp NUMBER_2>;
            label = "GOE";
        };

        gfe: gfe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON &kp NUMBER_3>;
            label = "GFE";
        };

        rintro: rintro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp I &kp N &kp T &kp R &kp O>;
            label = "RINTRO";
        };

        rcases: rcases {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp C &kp A &kp S &kp E &kp S>;
            label = "RCASES";
        };

        with: with {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp I &kp T &kp H>;
            label = "WITH";
        };

        lib_search: lib_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp P &kp P &kp L &kp Y &kp QMARK>;
            label = "LIB_SEARCH";
        };

        simp: simp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp I &kp M &kp P &kp SPACE &kp LBKT &kp RIGHT_BRACKET &kp LEFT>;
            label = "SIMP";
        };

        rw: rw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp W &kp SPACE &kp LBKT &kp RIGHT_BRACKET &kp LEFT>;
            label = "RW";
        };

        upsay: upsay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp U &kp N &kp I &kp V &kp E &kp R &kp S &kp I &kp T &kp E &kp MINUS &kp P &kp A &kp R &kp I &kp S &kp MINUS &kp S &kp A &kp C &kp L &kp A &kp Y &kp DOT &kp F &kp R>;
            label = "UPSAY";
        };
        compose_mathcal: compose_mathcal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NON_US_BACKSLASH  &kp AMPS> ;
            label = "COMPOSE_MATHCAL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0. Base layer -- keep the QWERTY key codes to use your OS keyboard layout
        //               -- the Space Cadet layer-tap on the right can be replaced by an AltGr/Enter mod-tap
        //               -- adjust the homerow mods with the #define statements above
        default_layer {
            display-name = "Base";
            bindings = <
   &trans    &kp Q             &kp W          &kp E          &kp R       &kp T       &kp Y          &kp U       &kp I           &kp O      &kp P                 &trans
   &kp ESC   &mt LEFT_SHIFT A  &mt LEFT_GUI S &mt LEFT_ALT D &mt LCTRL F &kp G       &kp H          &mt RCTRL J &mt LEFT_ALT K  &mt RGUI L &mt RSHIFT SEMICOLON  &kp BSPC
   &kp TAB   &kp Z             &kp X          &kp C          &kp V       &kp B       &kp N          &kp M       &kp COMMA       &kp DOT    &kp FSLH              &kp ENTER
                                              &mo 2          &mo 1       &kp SPACE   &kp BACKSPACE  &sk RALT    &sk RIGHT_SHIFT
            >;
        };
        
	nav_layer {
            bindings = <
&trans  &kp LC(C)       &kp LC(V)        &kp LC(BACKSPACE) &kp DELETE    &kp BACKSPACE        &kp HOME       &kp PAGE_DOWN  &kp PG_UP     &kp END         &msc SCRL_UP   &trans
&trans  &mt LSHIFT ESC  &compose_mathcal &kp LS(TAB)       &mt LCTRL TAB &kp NON_US_BACKSLASH &kp LEFT       &kp DOWN       &kp UP        &kp RIGHT       &kp ENTER      &trans
&trans  &kp LC(LS(C))   &kp LC(LS(V))    &mkp LCLK         &mkp MCLK     &mkp RCLK            &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP  &mmv MOVE_RIGHT &msc SCRL_DOWN &trans
                                    &trans             &trans      &trans           &sl 4        &sl 3          &trans
            >;
        };

        num_layer {
            bindings = <
 &trans &kp F1                  &kp F2                &kp F3                &kp F4             &kp F5       &kp F6       &kp F7             &kp F8                &kp F9            &kp F10             &trans
 &trans &mt LEFT_SHIFT NUMBER_1 &mt LEFT_GUI NUMBER_2 &mt LEFT_ALT NUMBER_3 &mt LCTRL NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &mt RCTRL NUMBER_7 &mt LEFT_ALT NUMBER_8 &mt RGUI NUMBER_9 &mt RSHIFT NUMBER_0 &trans
 &trans &goe                    &trans                &gfe                  &kp F11            &kp F12      &kp UNDER    &kp PLUS           &gfo                  &kp DOT           &gff                &trans
 &trans &trans                  &trans                &trans                &trans             &trans
            >;
        };

        macro_layer {
            bindings = <
&trans  &trans  &with   &trans   &rw     &trans    &trans  &upsay   &rintro  &trans       &Patrick  &trans
&trans  &trans  &simp   &trans   &trans  &trans    &trans  &trans   &trans   &lib_search  &trans    &trans
&trans  &trans  &trans  &rcases  &trans  &trans    &trans  &Massot  &trans   &trans       &trans    &trans
                        &trans   &trans  &trans    &trans  &trans   &trans
            >;
        };

        // 5. Function layer -- F1..12 pad on the left hand, HRM on the right hand (with an additional Shift key)
        //                   -- reset and bootloader reset on difficult thumb keys
        //                   -- could be completed with other rare keys
        function {
            display-name = "Function";
            bindings = <
   &trans  &kp F1  &kp F2  &kp F3  &kp F4  &none         &none       &kp PAUSE_BREAK &kp PSCRN &kp SYSREQ &none      &trans
   &trans  &kp F5  &kp F6  &kp F7  &kp F8  &none         &none       &kp LALT        &kp RCTL  &kp RGUI   &kp RSHIFT &trans
   &trans  &kp F9  &kp F10 &kp F11 &kp F12 &none         &trans      &trans     &none     &none      &none      &trans
                           &trans  &trans  &none         &none       &bootloader   &sys_reset
            >;
        };
    };
};
